{% extends 'ExtranetAppBundle::layout.html.twig' %}

{% block body -%}
    <h1>Entete list</h1>

   <table class="records_list">
        <thead>
            <tr>
                <th class="large">Nom</th>
                <th class="large">Active</th>
                <th class="large">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                
                <td class="large">{{ entity.nom }}</td>
                <td class="small">
                    {% if  entity.active != false %}  Oui {% endif %}
                    {% if entity.active == false %} Non {% endif %}
                </td>
                <td class="large">
                <ul>
                    <li>
                        <a href="{{ path('entete_edit', { 'id': entity.id }) }}">Modifier</a>
                    </li>
                </ul>
                </td>
            </tr>
    

    {% endfor %}
        </tbody>
    </table>


        <ul>
            <li>
            </li>
        </ul>
        <div class="section_retour">
            <a href="{{ path('divers') }}" title="Retour au tableau de bord">Retour vers la section divers</a>

            <a href="{{ path('extranet_app_homepage') }}" title="Retour au tableau de bord">Retour au tableau de bord</a>
        </div>
    {% endblock %}
