{% extends 'ExtranetAppBundle::layout.html.twig' %}
{# {% extends '::base.html.twig' %} #}

{% block body -%}
    <div class="page_title">Enregistrement d'un nouvel utilisateur. Tout les champs sont obligatoires.</div>

    {{ form(form) }}

    

	<div class="section_retour">
        <a href="{{ path('utilisateur') }}">Retour &agrave; la gestion des utilisateurs</a>
		
		<a href="{{ path('extranet_app_homepage') }}" title="Retour au tableau de bord">Retour au tableau de bord</a>
	</div>
{% endblock %}