/* line 5, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-core-1.0.0.alpha.13/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../__conception/__design/css/sass/style.scss */
body {
  width: 1000px;
  margin: 0 auto;
  background: #0083ff;
  line-height: 25px;
}

/* line 22, ../../__conception/__design/css/sass/style.scss */
header {
  width: 100%;
  height: 100px;
  background: transparent;
}

/* line 23, ../../__conception/__design/css/sass/style.scss */
footer {
  width: 100%;
  height: 100px;
  background: transparent;
}

/* line 24, ../../__conception/__design/css/sass/style.scss */
a {
  display: inline-block;
  float: left;
  margin: 10px;
  padding: 15px;
  height: 30px;
  background: gainsboro;
  text-decoration: none;
  color: #cc5414;
  vertical-align: middle;
}

/* line 25, ../../__conception/__design/css/sass/style.scss */
a:hover {
  background: #adadad;
  color: #255265;
}

/* line 26, ../../__conception/__design/css/sass/style.scss */
th {
  width: 1000/8;
}

/* line 28, ../../__conception/__design/css/sass/style.scss */
.a_logo {
  display: inline-block;
  background: transparent;
  margin: 0px;
  padding: 0;
  float: left;
  height: 100px;
  width: 400px;
}

/* line 29, ../../__conception/__design/css/sass/style.scss */
.a_logo:hover {
  background: transparent;
}

/* line 31, ../../__conception/__design/css/sass/style.scss */
.info {
  background: #c8a2d2;
  font-size: 1.2em;
  color: #366e5f;
  padding: 3px 5px;
}

/* line 33, ../../__conception/__design/css/sass/style.scss */
.danger {
  background: #cc5444;
  color: white;
}

/* line 34, ../../__conception/__design/css/sass/style.scss */
.safe {
  background: #97ff8c;
  color: #9057af;
}

/* line 35, ../../__conception/__design/css/sass/style.scss */
.corps {
  background: white;
  padding: 20px;
}

/* line 36, ../../__conception/__design/css/sass/style.scss */
.clear {
  clear: both;
}

/* line 37, ../../__conception/__design/css/sass/style.scss */
.pad5 {
  padding: 5px;
}

/* line 39, ../../__conception/__design/css/sass/style.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 40, ../../__conception/__design/css/sass/style.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 42, ../../__conception/__design/css/sass/style.scss */
.page_title, form legend {
  font-size: 1.1em;
  text-decoration: underline;
}

/* line 45, ../../__conception/__design/css/sass/style.scss */
#btn_logout {
  float: right;
}

/* line 49, ../../__conception/__design/css/sass/style.scss */
.section_retour a {
  display: block;
  margin-left: -15px;
  width: 100%;
  text-align: center;
  background: #e1e1e1;
  color: #B244CC;
}
/* line 58, ../../__conception/__design/css/sass/style.scss */
.section_retour a:hover {
  background: #adadad;
  color: #255265;
}

/* line 65, ../../__conception/__design/css/sass/style.scss */
form {
  line-height: 45px;
}
/* line 72, ../../__conception/__design/css/sass/style.scss */
form label {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}
/* line 80, ../../__conception/__design/css/sass/style.scss */
form .date_select {
  display: inline-block;
}
/* line 83, ../../__conception/__design/css/sass/style.scss */
form textarea {
  min-width: 200px;
  min-height: 75px;
}
/* line 88, ../../__conception/__design/css/sass/style.scss */
form input[type=submit] {
  margin-left: 170px;
}

/* line 96, ../../__conception/__design/css/sass/style.scss */
#voir .attribute {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 15px;
}
/* line 103, ../../__conception/__design/css/sass/style.scss */
#voir p {
  margin-top: 15px;
}
/* line 107, ../../__conception/__design/css/sass/style.scss */
#voir .qualification {
  float: none;
  padding: 0 7px;
  margin: 5px;
}
/* line 116, ../../__conception/__design/css/sass/style.scss */
#voir .addresse span {
  float: left;
}
/* line 120, ../../__conception/__design/css/sass/style.scss */
#voir .addresse .add {
  display: inline-block;
  background: red;
  float: right;
}

/* line 131, ../../__conception/__design/css/sass/style.scss */
#chercher input[type=text] {
  width: 450px;
}
/* line 132, ../../__conception/__design/css/sass/style.scss */
#chercher select {
  max-width: 450px;
}

/* line 134, ../../__conception/__design/css/sass/style.scss */
th {
  border: 1px solid black;
}

/* line 137, ../../__conception/__design/css/sass/style.scss */
td {
  border: 1px solid black;
}

/* line 141, ../../__conception/__design/css/sass/style.scss */
tr .small {
  width: 50px;
}

/* line 144, ../../__conception/__design/css/sass/style.scss */
tr .large {
  width: 250px;
}

/* line 147, ../../__conception/__design/css/sass/style.scss */
th {
  text-align: center;
}

/* line 148, ../../__conception/__design/css/sass/style.scss */
td {
  text-align: center;
  padding: 0 5px;
}
/* line 149, ../../__conception/__design/css/sass/style.scss */
td a {
  padding: 0 3px;
}

/* line 152, ../../__conception/__design/css/sass/style.scss */
.footer {
  background: #c7e4eb;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
}

/* line 160, ../../__conception/__design/css/sass/style.scss */
#disposition_index table tbody tr td a {
  background: white;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-right: 0;
  margin: 0;
  padding-bottom: 5px;
}
