{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Wkdate creation</h1>

    {{ form(form) }}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt repudiandae deserunt ipsa ex magnam aut labore deleniti velit pariatur dolorem adipisci autem, error praesentium officia, sint aliquid, explicabo animi officiis.
        <ul class="record_actions">
    <li>
        <a href="{{ path('wkdate') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
