{% extends 'ExtranetAppBundle::layout.html.twig' %}

{% block body -%}
    <div class="page_title">Modification des taux de facturation par défaut</div>

    {{ form(edit_form) }}

	<div class="section_retour">
        <a href="{{ path('taux') }}">Retour &agrave; la gestion des taux de facturation</a>
		
		<a href="{{ path('extranet_app_homepage') }}" title="Retour au tableau de bord">Retour au tableau de bord</a>
	</div>
{% endblock %}
